body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    color: rgb(0, 0, 0);
}



.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
}

.page-header ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
  
}

.page-header a {
    display: block;
    padding: 0.5em;
    text-decoration: none;
}

.page-header h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: white;
}

.items {
    width: 80%;
    margin: auto;
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
  }

 
  .items img {
    width: 100%;
    height: auto;
  }

  /* Style Entire Card */
  .item {
   
  }

   /* Styling Image Card */
  .item img {

  }

  /* Styling Paragraphs */
  .item p {

  }

  /*  */
.item p:nth-child(1){

  }

.item p:nth-child(2) {

}

/* Styling Add to Cart */

.item button {

}


